<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>CSCB20 - Assignment</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Connect CSS to HTML -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content-container.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/assignment.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet'>
</head>

<body>
  <!-- Define the website title -->
  <div class="Title">
    <h1>CSCB20 Introduction to Databases and Web Applications</h1>
    <h3>Winter 2020</h3>
  </div>

  <!-- Create a navigation bar -->
  <div class="nav-bar-container">
    <div class="Home">
      <a href="{{ url_for('index') }}">
        <h3>Home</h3>
      </a>
    </div>
    <div class="Announcement">
      <a href="{{ url_for('announcement') }}">
        <h3>Announcement</h3>
      </a>
    </div>
    <div class="Lecture">
      <a href="{{ url_for('lecture') }}">
        <h3>Lecture</h3>
      </a>
    </div>
    <div class="Lab">
      <a href="{{ url_for('lab') }}">
        <h3>Lab</h3>
      </a>
    </div>
    <div class="Assignment current-page">
      <a href="{{ url_for('assignment') }}">
        <h3>Assignment</h3>
      </a>
    </div>
    <div class="Tests">
      <a href="{{ url_for('tests') }}">
        <h3>Tests</h3>
      </a>
    </div>
    <div class="Calendar">
      <a href="{{ url_for('calendar') }}">
        <h3>Calendar</h3>
      </a>
    </div>
    <div class="Discussion">
      <a href="{{ url_for('discussion') }}">
        <h3>Discussion</h3>
      </a>
    </div>
    <div class="Resources">
      <a href="{{ url_for('resources') }}">
        <h3>Resources</h3>
      </a>
    </div>
  </div>

  <div class="content-container">
    <!-- Provide a link for MarkUs -->
    <div class="markus">
      <h2>MarkUs</h2>
      <p>All exercises and assignments will be submitted on <A HREF="https://markus.utsc.utoronto.ca/cscb20w20/en/assignments"
          target="_blank"><b>MarkUs</b></A>.</p>
    </div>

    <!-- Display assignments with a table (use grid) -->
    <div class="assignment-title">
      <h2>Assignments</h2>
    </div>

    <!-- Assignments table -->
    <div class="assignments">
      <div class="assignments-first-row-col"></div>
      <div class="assignments-first-row-col"><b>Topic</b></div>
      <div class="assignments-first-row-col"><b>Instruction</b></div>
      <div class="assignments-first-row-col"><b>Solution</b></div>
      <div class="assignments-first-row-col"><b>1</b></div>
      <div>Relational Algebra and MySQL</div>
      <div><A HREF="./static/pdfs/B20Assignment1Winter2020.pdf" target="_blank">Assignment1.pdf</A></div>
      <div><A HREF="./static/pdfs/B20Assignment1Winter2020.pdf" target="_blank">Solution1.pdf</A></div>
      <div class="assignments-first-row-col"><b>2</b></div>
      <div>HTML, CSS, PHP</div>
      <div><A HREF="./static/pdfs/B20Assignment1Winter2020.pdf" target="_blank">Assignment2.pdf</A></div>
      <div><A HREF="./static/pdfs/B20Assignment1Winter2020.pdf" target="_blank">Solution2.pdf</A></div>
      <div class="assignments-first-row-col"><b>3</b></div>
      <div>Web Application and Database</div>
      <div><A HREF="./static/pdfs/B20Assignment1Winter2020.pdf" target="_blank">Assignment3.pdf</A></div>
      <div><A HREF="./static/pdfs/B20Assignment1Winter2020.pdf" target="_blank">Solution3.pdf</A></div>
    </div>
  </div>

  <!-- Copyright information -->
  <div class="footer">
    <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">
      <h3>Faculty of Computer Science at UofT</h3>
    </a>
    <h4>Made by Jiyeon Baek and Anika Chang</h4>
  </div>
</body>

</html>
